:root {
    --main-color: rgb(0,0,180);
    --second-color : rgb(255,255,255);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

header {
    padding: 5px 10px 15px 10px;
    display: flex;
    background-color: none;
    justify-content: space-between;
    align-items: center;
}
  
header > .logo {
    width: 40%;
    padding: 5px;
}

header > .navbar {
    display: flex;
    gap: 1em;
    align-items: center;
}

header > .navbar > .profile_img {
    width: 2em;
    border-radius: 50%;
}

header > .sidebar {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 6em;
    pointer-events: none;
}

header > .sidebar > a {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 2em;
    padding: .5em;
    border: solid 2px var(--main-color);
    border-radius: 10px;
    background-color: var(--second-color);
    color: var(--main-color);
    pointer-events: auto;
}

header > .sidebar > a > p {
    margin: 0;
    font-size: .8em;
}

header > .sidebar > a > .svg_cont {
    width: 1.2em;
}

header > .sidebar > a > .svg_cont > .svg_icon {
    color: var(--main-color);
    width: 100%;
    height: auto;
}

header > .burger {
    font-size: 2em;
    background: none;
    border: none;
    color:var(--main-color);
    cursor: pointer;
}


  /* --- RESPONSIVE --- */
@media (min-width: 768px) {
    header {
        padding: 1em 2em;
    }

    header > .logo {
        width: 25%;
    }
  
    header > .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
  
    header > .burger {
        display: none;
    }
}

